doctype html
html
    block cool-config
    head
        title=myTitle
        link(rel="stylesheet", href="/style.css")
        meta(name="description", content="myDescription")
    body
        include ../header/header
        article
            block awesome-content
        include ../nav/nav
        include ../footer/footer