extends _component/layout/template

block awesome-content
    h1 This is a replika of w3schools.com
    p I ll go through all possible HTML elements.#[a(href="/html") See what s happening!]
    h2 HTML
    p Page under construction #[a(href="/html") See something awesome!]
    h2 CSS
    p Page under construction #[a(href="/html") Click here!]
    h2 JavaScript
    p Page under construction #[a(href="/html") Discover the way up!]

        
        